name: Push to branch other than main/develop/release
on:
  push:
    branches-ignore:
      - main
      - develop
      - release/*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: ./.github/actions/unit_test
        with:
          uv_version: ${{ vars.UV_VERSION }}

